body{
  display: flex;
  flex-direction: row;
  justify-content: center;


  input{
    padding: 13px;
  }

  .container{
    display: flex;
    background-color: gray;
    padding: 10px;
    margin-top: 10%;
  }

  .displayResult{
    margin-bottom: 12px;
  }

  .row{
    margin-bottom: 5px;
  }

}