body {

  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    padding: 10px;
    margin: 12px;
  }

  #game-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    #difficulty-buttons-div{

      #easy-button {
        background-color: forestgreen;
        color: lawngreen;
      }

      #medium-button {
        background-color: #0f3854;
        color: deepskyblue;
      }

      #hard-button {
        background-color: darkred;
        color: orange;
      }
    }

    #game-buttons-div {
      padding: 20px;


    }

    #result-div {
      flex-direction: column;
      padding: 25px;
      margin-top: 35px;
      border: 2px solid black;
    }

  }

}