@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  display: flex;
  flex-direction: row;
  justify-content: center;

  h1{
    font-family: 'Roboto', sans-serif;
  }

  .current-time-div{
    margin-top: 10%;
  }

  #current-time{

    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;

    border: 4px solid black;
    padding: 53px;

    font-family: 'Orbitron', sans-serif;
    color: orangered;
    text-shadow: 0 0 20px rgba(255, 0, 0, 1),  0 0 20px rgba(10, 175, 230, 0);

  }

}

